<!DOCTYPE html>
<html> 
  <head> 
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" >
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" >
    <script type="text/javascript" src="{% static "vendor/jquery-2.0.3.min.js" %}"> </script>
    <script type="text/javascript" src="{% static "vendor/galleria/galleria-1.3.5.js" %}"> </script>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container"> 
      <div class="collapse navbar-collapse ">
        <a class="navbar-brand" href="{% url 'index' %}"> City SlowRoll: Cleveland </>
        <ul class="nav navbar-nav navbar-right">
          {% if current_user.is_authenticated %}
          <li> <a href="/admin"> {{current_user.username}}</a>
          <li> <a href="{% url 'logout' %}"> Logout </a> </li>
          {% else %}
          <li> <a href="/admin"> Login </a> </li>
          {% endif %}
        </ul>
      </div>
    </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <aside> 
          <h4> Pages </h4>
          <ul class="nav"> 
            <li> 
            <a href="{% url 'index' %}">Home </a>
            </li>
            {% for page in nav.pages %}
            <li> 
            <a href="{% url 'page' page.slug %}">{{page.title}} </a>
            </li>
            {% endfor %}

          </ul>
          </aside>
        </div>

        <div class="col-md-10">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
